# SQLITE
SQLite est un Système de Gestion de Base de Données (**SGBD**) qui sauvegarde la base sous forme d'un fichier multiplateforme. C’est une bibliothèque qui fournit une base de données légère sur disque ne nécessitant pas de processus serveur distinct et permet d’accéder à la base de données à l’aide d’une variante du langage de requête SQL Il permet ainsi une gestion simple et rapide des bases de données.

## Utiliser le module SQLite 
Pour importer le module SQLite:

In [1]:
import sqlite3

## Créer une base de données avec SQLite 
Les bases créées avec cette librairie sont enregistrées sous forme de fichier **.db**, **.sq3**.

Un fichier .db/.sq3 s'ouvre en créant un objet de type connection :

In [2]:
conn = sqlite3.connect('ma_base.db') # créer une connexion
type(conn)

sqlite3.Connection

Lorsque vous executerez votre programme vous remarquerez que si la base n'existe pas encore, un fichier sera crée dans le dossier de votre programme. Et si celui-ci existe déjà il sera réutilisé. Vous pouvez bien évidemment choisir l'emplacement de votre base de données en renseignant un path, exemple: "/data/ma_base.db" . Il vous faudra cependant vérifier que le dossier existe avant de l'utiliser.

## Créer une table avec SQLite 
Pour exécuter des commandes dans la base, on crée des requêtes SQL sous forme de chaînes de caractères.
Ensuite, on l’exécute à partir de la fonction `execute()`.

Voici un exemple de création de table:

In [3]:
cursor = conn.cursor() # creér un curseur
req = """
CREATE TABLE IF NOT EXISTS users(
     id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
     name TEXT,
     age INTERGER
)
"""
cursor.execute(req) # exécuter la commande

Lorsque le travail prévu est terminé, il est nécessaire d’enregistrer les modifications faites sur la base :

In [4]:
conn.commit() # envoyer la requêtte

Enfin, il faut fermer la connexion vers la base :

In [4]:
conn.close() # fermer la connexion

## Insérer des données 
Il existe plusieurs manière d'insérer des données, la plus simple étant celle-ci:

In [5]:
conn = sqlite3.connect('ma_base.db')
cursor = conn.cursor()

cursor.execute("""
INSERT INTO users(name, age) VALUES(?, ?)""", ("olivier", 22))

conn.close()

Vous pouvez passer par un dictionnaire: 
```python
data = {"name" : "Sami", "age" : 22}
cursor.execute("""
INSERT INTO users(name, age) VALUES(:name, :age)""", data)
```

En réalisant plusieurs insertions en une seule fois avec la fonction `executemany()` :

In [7]:
conn = sqlite3.connect('ma_base.db')
cursor = conn.cursor()

users= [] # liste d'utilisateurs
users.append(("ali",20))
users.append(("lara",21))
users.append(("lamia" , 24))
cursor.executemany(
"""INSERT INTO users(name, age) VALUES(?,?)""", users
)

conn.commit()
conn.close()

## Modifier des entrées 
 Pour modifier des entrées:

In [8]:
conn = sqlite3.connect('ma_base.db')
cursor = conn.cursor()

cursor.execute("""UPDATE users SET age = ? WHERE id = 2""", (31,))

conn.commit()
conn.close()

##  Récupérer des données
La requête SQL **SELECT** demande l'extraction d’un ensemble particulier d’enregistrements, qui devront être
transférés de la base de données au curseur.

On peut récupérer la première ligne correspondant à une recherche à l'aide de la fonction `fetchone()` :

In [9]:
conn = sqlite3.connect('ma_base.db')
cursor = conn.cursor()

cursor.execute("""SELECT id, name, age FROM users""")
user1 = cursor.fetchone()
print(user1) # Le résultat est un tuple : ('olivier', 20)

(1, 'olivier', 22)

Vous pouvez récupérer plusieurs données de la même recherche en utilisant la fonction `fetchall()`.

In [12]:
cursor.execute("""SELECT id, name, age FROM users""")
rows = cursor.fetchall()
print(rows) # Le résultat est une liste de tuples

for row in rows:
    print("{} : il/elle s'appel {} il a {}".format(row[0], row[1], row[2]))

[(1, 'olivier', 22), (2, 'ali', 31), (3, 'lara', 21), (4, 'lamia', 24)]
1 : il/elle s'appel olivier il a 22
2 : il/elle s'appel ali il a 31
3 : il/elle s'appel lara il a 21
4 : il/elle s'appel lamia il a 24

L'objet curseur fonctionne comme un itérateur, invoquant la méthode `fetchall()` automatiquement:

In [ ]:
cursor.execute("""SELECT id, name, age FROM users""")

for row in cursor:
    print("{} : s'appel {} il a {} ans".format(row[0], row[1], row[2]))

Pour la recherche spécifique,on utilise la même logique vu précédemment:

In [14]:
id = 2
cursor.execute("""SELECT id, name FROM users WHERE id=?""", (id,))
response = cursor.fetchone()
print(response)

(2, 'ali')

## Gestion des erreurs 

Il est **recommandé** de toujours **encadrer** les opérations sur des bases de données et **d'anticiper des erreurs**:

In [ ]:
import sqlite3

try:
    conn = sqlite3.connect('ma_base.db')
    cursor = conn.cursor()
    cursor.execute("""
CREATE TABLE users(
    id INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT,
    age INTERGER
)
""")
    conn.commit()
except sqlite3.OperationalError:
    print('Erreur la table existe déjà')
finally:
    conn.close()

Les erreurs que vous pouvez intercepter: 
```python
Error
DatabaseError
DataError
IntegrityError
InternalError
NotSupportedError
OperationalError
ProgrammingError
InterfaceError
Warning
```